bestfrontend/node_modules
bestfrontend/package-lock.json
bestfrontend/package.json
bestfrontend/README.md
mongo_volume*
sql_volume/*
Enache_Stefan_raport1.pdf
Enache_Stefan_raport2.pdf
final.docx
ideeLicenta.rtf
RaportInitial.pdf.docx
raportIntermediar.docx
scriptTabele.txt
demo/.idea*
frontend/.env.local