
.container {
  max-height: 50px; /* inaltimea maxima a containerului */
  overflow:scroll; /* activarea scrollbar-ului */
  font-size: 1.5em;
}
.ticket-image {
  width: 400px; /* Modificați această valoare după preferințele dvs. */
  height: auto;
}

.dop{
  margin-left: 25cm;
}
.scroll-container {
  background: rgba(255, 255, 255, 0.5);
  padding: 112px;
  overflow: auto;
}

.scroll-content {
  min-width: 400px;
  max-height: calc(100vh - 200px);
}

.scroll-inner {

  overflow-y: auto;
}
.box-container {
  
  margin-left: 30cm;
  color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  /* Stilurile existente ale boxului */
  width: 400px; /* Modificați această valoare după preferințele dvs. */
  margin: 60px;
}
.box.selected {
  background-color: #e4d7d7;
}

.wallet-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.wallet-table th,
.wallet-table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #f2f2f2;
}

.expired-cell {
  color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('../public/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('../public/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('../public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.App {
  text-align: center;
  height: 100vh;
  font-size: 1.5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left {
  text-align: left;
}
.payment-form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.paypal-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.hed{
  margin-left: 500px;
}
.Modal {
  /* Stiluri pentru modal */
}

.Modal-content {
  /* Stiluri pentru conținutul modal */
}